<div class="banner">
  <%= link_to 'Create List', new_list_path %>
</div>
<div class="container">
  <div class="all-lists">
    <% @lists.each do |list| %>
      <div class="movie-list">
        <%= link_to list_path(list) do %>
          <p><%= list.name %></p>
          <%= image_tag list.photo_url %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
