<div class="container">
  <h1>Add Movie</h1>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment, :label_html => { :class => 'form-input' } %>
    <%= f.association :movie, :label_html => { :class => 'form-input' } %>
    <%= f.submit "Add Bookmark", :class => 'submit-button' %>
  <% end %>
</div>
