.all-lists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

.movie-list img {
  height: 100%;
  width: 100%;
  opacity: 50%;
}

.movie-list:hover img {
  opacity: 100%;
}

.movie-list {
  position: relative;
}

.movie-list p {
  position: absolute;
  top: 80%;
  left: 40%;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px black;
}
