.all-lists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  text-align: center;
}

.movie-list {
  background-image: url('https://source.unsplash.com/random');
}
